APP_NAME=ProjectHub
APP_ENV=testing
APP_KEY=base64:52OqQ/x/YsLl4yB0Dy2GSaty5jWneo9SH/GYx43arYM=
APP_DEBUG=false
APP_URL=https://127.0.0.1:8000

# Database - 使用主機 PostgreSQL（通過 host.docker.internal）
DB_CONNECTION=pgsql
#DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=projecthub
DB_USERNAME=bizodus
DB_PASSWORD=finco53570789
DB_SCHEMA=root

# Session
SESSION_DRIVER=database
SESSION_LIFETIME=120

# Cache
CACHE_DRIVER=file

# Queue
QUEUE_CONNECTION=database

# Mail (password reset)
# For no SMTP (emails to storage/logs/laravel.log): MAIL_MAILER=log
# For Gmail SMTP: MAIL_MAILER=smtp and set MAIL_USERNAME / MAIL_PASSWORD (App Password from Google Account)
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=imcybersaint@gmail.com
MAIL_PASSWORD="oooa vnen njwi omre" 
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="imcybersaint@gmail.com"
MAIL_FROM_NAME="ProjectHub"
